In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
beer_states_file = "Resources/beer_states.csv"
beer_states_df = pd.read_csv(csv_file)
beer_states_df.head()

  state  year  barrels         type
0    AK  2008  2067.69  On Premises
1    AK  2009  2263.65  On Premises
2    AK  2010  1929.15  On Premises
3    AK  2011  2251.02  On Premises
4    AK  2012  2312.43  On Premises

In [5]:
brewing_materials_file = "Resources/brewing_materials.csv"
brewing_materials_df = pd.read_csv(brewing_materials_file)
brewing_materials_df.head()

,data_type,material_type,year,month,type,month_current,month_prior_year,ytd_current,ytd_prior_year
0,Pounds of Materials Used,Grain Products,2008,1,Malt and malt products,374165152,365300134,374165152.0,365300134.0
1,Pounds of Materials Used,Grain Products,2008,1,Corn and corn products,57563519,41647092,57563519.0,41647092.0
2,Pounds of Materials Used,Grain Products,2008,1,Rice and rice products,72402143,81050102,72402143.0,81050102.0
3,Pounds of Materials Used,Grain Products,2008,1,Barley and barley products,3800844,2362162,3800844.0,2362162.0
4,Pounds of Materials Used,Grain Products,2008,1,Wheat and wheat products,1177186,1195381,1177186.0,1195381.0

In [114]:
beer_states_df = beer_states_df[beer_states_df["state"].str.contains("total")==False]
beer_states_df = beer_states_df.rename(columns={"type":"presentation"})

presentations = beer_states_df.presentation.unique()
presentations_df = pd.DataFrame(presentations)
presentations_df = presentations_df.rename(columns={0:"presentation"})
beer_states_df

     state  year     barrels      presentation
0       AK  2008     2067.69       On Premises
1       AK  2009     2263.65       On Premises
2       AK  2010     1929.15       On Premises
3       AK  2011     2251.02       On Premises
4       AK  2012     2312.43       On Premises
5       AK  2013     2155.60       On Premises
6       AK  2014     2114.97       On Premises
7       AK  2015     4511.48       On Premises
8       AK  2016    13315.93       On Premises
9       AK  2017    15974.10       On Premises
10      AK  2018    30620.23       On Premises
11      AK  2019    32849.37       On Premises
12      AL  2008      723.53       On Premises
13      AL  2009      238.60       On Premises
14      AL  2010      161.24       On Premises
15      AL  2011        0.00       On Premises
16      AL  2012       46.50       On Premises
17      AL  2013      130.55       On Premises
18      AL  2014      226.25       On Premises
19      AL  2015     6109.99       On Premises
20      AL  2016    23810.78       On Premises
21      AL  2017    29160.56       On Premises
22      AL  2018    41718.66       On Premises
23      AL  2019    47160.08       On Premises
24      AR  2008     1328.35       On Premises
25      AR  2009     1279.34       On Premises
26      AR  2010     1331.85       On Premises
27      AR  2011     1124.98       On Premises
28      AR  2012     1265.93       On Premises
29      AR  2013      558.14       On Premises
...    ...   ...         ...               ...
1830    WI  2014  1066520.15  Kegs and Barrels
1831    WI  2015   937817.99  Kegs and Barrels
1832    WI  2016  1010565.53  Kegs and Barrels
1833    WI  2017  1093376.11  Kegs and Barrels
1834    WI  2018  1047608.30  Kegs and Barrels
1835    WI  2019   799948.20  Kegs and Barrels
1836    WV  2008     1655.04  Kegs and Barrels
1837    WV  2009     1725.47  Kegs and Barrels
1838    WV  2010     2582.42  Kegs and Barrels
1839    WV  2011     3264.98  Kegs and Barrels
1840    WV  2012     3701.81  Kegs and Barrels
1841    WV  2013     4525.59  Kegs and Barrels
1842    WV  2014     5160.63  Kegs and Barrels
1843    WV  2015     6640.44  Kegs and Barrels
1844    WV  2016     3835.30  Kegs and Barrels
1845    WV  2017     3564.32  Kegs and Barrels
1846    WV  2018     3278.68  Kegs and Barrels
1847    WV  2019     4017.18  Kegs and Barrels
1848    WY  2008     2989.71  Kegs and Barrels
1849    WY  2009     2489.98  Kegs and Barrels
1850    WY  2010     3852.33  Kegs and Barrels
1851    WY  2011     5055.71  Kegs and Barrels
1852    WY  2012     5752.17  Kegs and Barrels
1853    WY  2013     7216.88  Kegs and Barrels
1854    WY  2014     8379.14  Kegs and Barrels
1855    WY  2015     9671.70  Kegs and Barrels
1856    WY  2016     8328.08  Kegs and Barrels
1857    WY  2017     8312.15  Kegs and Barrels
1858    WY  2018    16731.39  Kegs and Barrels
1859    WY  2019    18726.19  Kegs and Barrels

[1836 rows x 4 columns]

In [50]:
brewing_materials_df = brewing_materials_df[['material_type', 'year', 'month', 'type','month_current']]
brewing_materials_df = brewing_materials_df[brewing_materials_df["material_type"].str.contains("Total")==False]
brewing_materials_df.head()

    material_type  year  month                        type  month_current
0  Grain Products  2008      1      Malt and malt products      374165152
1  Grain Products  2008      1      Corn and corn products       57563519
2  Grain Products  2008      1      Rice and rice products       72402143
3  Grain Products  2008      1  Barley and barley products        3800844
4  Grain Products  2008      1    Wheat and wheat products        1177186

In [95]:
material_brewing = brewing_materials_df.material_type.unique()
material_brewing_df = pd.DataFrame(material_brewing)
material_brewing_df = material_brewing_df.rename(columns={0:"material_type"})
material_brewing_df

        material_type
0      Grain Products
1  Non-Grain Products

In [81]:
types_brewing = brewing_materials_df.type.unique()
types_brewing_df = pd.DataFrame(types_brewing)
types_brewing_df = types_brewing_df.rename(columns={0:"type"})
types_brewing_df

                         type
0      Malt and malt products
1      Corn and corn products
2      Rice and rice products
3  Barley and barley products
4    Wheat and wheat products
5            Sugar and syrups
6                  Hops (dry)
7     Hops (used as extracts)
8                       Other

In [30]:
rds_connection_string = "postgres:nopal91@localhost:5432/beer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [67]:
engine.table_names()

['material_brewing', 'types_brewing', 'presentation']

In [96]:
material_brewing_df.to_sql(name="material_brewing", con=engine, if_exists="append", index=False)

In [84]:
types_brewing_df.to_sql(name="types_brewing", con=engine, if_exists="append", index=False)

In [85]:
presentations_df.to_sql(name="presentation", con=engine, if_exists="append", index=False)

In [104]:
#get the DataFrame from sql with the id created from the data base.
types_brewing_df = pd.read_sql_query('select * from types_brewing', con=engine)
material_brewing_df = pd.read_sql_query('select * from material_brewing', con=engine)
material_brewing_df

   id_material       material_type
0            1      Grain Products
1            2  Non-Grain Products

In [103]:
# merge the data frames

merged_brewing_materials= pd.merge(brewing_materials_df, types_brewing_df, how='left', on='type')
merged_brewing_materials= pd.merge(merged_brewing_materials, material_brewing_df, how='left', on='material_type')
merged_brewing_materials

,material_type,year,month,type,month_current,id_types,id_material
0,Grain Products,2008,1,Malt and malt products,374165152,1,1
1,Grain Products,2008,1,Corn and corn products,57563519,2,1
2,Grain Products,2008,1,Rice and rice products,72402143,3,1
3,Grain Products,2008,1,Barley and barley products,3800844,4,1
4,Grain Products,2008,1,Wheat and wheat products,1177186,5,1
5,Non-Grain Products,2008,1,Sugar and syrups,78358212,6,2
6,Non-Grain Products,2008,1,Hops (dry),4506546,7,2
7,Non-Grain Products,2008,1,Hops (used as extracts),621912,8,2
8,Non-Grain Products,2008,1,Other,1291615,9,2
9,Grain Products,2008,2,Malt and malt products,355687578,1,1
10,Grain Products,2008,2,Corn and corn products,59513161,2,1
11,Grain Products,2008,2,Rice and rice products,66061597,3,1
12,Grain Products,2008,2,Barley and barley products,3236714,4,1
13,Grain Products,2008,2,Wheat and wheat products,1240983,5,1
14,Non-Grain Products,2008,2,Sugar and syrups,80188744,6,2
15,Non-Grain Products,2008,2,Hops (dry),1815271,7,2
16,Non-Grain Products,2008,2,Hops (used as extracts),476688,8,2
17,Non-Grain Products,2008,2,Other,1599119,9,2
18,Grain Products,2008,3,Malt and malt products,399855819,1,1
19,Grain Products,2008,3,Corn and corn products,60800221,2,1
20,Grain Products,2008,3,Rice and rice products,72629666,3,1
21,Grain Products,2008,3,Barley and barley products,6950276,4,1
22,Grain Products,2008,3,Wheat and wheat products,1888250,5,1
23,Non-Grain Products,2008,3,Sugar and syrups,78907213,6,2
24,Non-Grain Products,2008,3,Hops (dry),6067167,7,2
25,Non-Grain Products,2008,3,Hops (used as extracts),1195722,8,2
26,Non-Grain Products,2008,3,Other,2211210,9,2
27,Grain Products,2008,4,Malt and malt products,388639443,1,1
28,Grain Products,2008,4,Corn and corn products,61555980,2,1
29,Grain Products,2008,4,Rice and rice products,73309991,3,1
...,...,...,...,...,...,...,...
1050,Non-Grain Products,2017,9,Hops (dry),273705,7,2
1051,Non-Grain Products,2017,9,Hops (used as extracts),237,8,2
1052,Non-Grain Products,2017,9,Other,639700,9,2
1053,Grain Products,2017,10,Malt and malt products,8675502,1,1
1054,Grain Products,2017,10,Corn and corn products,125,2,1
1055,Grain Products,2017,10,Rice and rice products,1160,3,1
1056,Grain Products,2017,10,Barley and barley products,140920,4,1
1057,Grain Products,2017,10,Wheat and wheat products,25505,5,1
1058,Non-Grain Products,2017,10,Sugar and syrups,21869,6,2
1059,Non-Grain Products,2017,10,Hops (dry),52286,7,2
1060,Non-Grain Products,2017,10,Hops (used as extracts),82,8,2
1061,Non-Grain Products,2017,10,Other,75566,9,2
1062,Grain Products,2017,11,Malt and malt products,8092727,1,1
1063,Grain Products,2017,11,Corn and corn products,275,2,1
1064,Grain Products,2017,11,Rice and rice products,1560,3,1
1065,Grain Products,2017,11,Barley and barley products,133699,4,1
1066,Grain Products,2017,11,Wheat and wheat products,33324,5,1
1067,Non-Grain Products,2017,11,Sugar and syrups,23158,6,2
1068,Non-Grain Products,2017,11,Hops (dry),150955,7,2
1069,Non-Grain Products,2017,11,Hops (used as extracts),1431,8,2
1070,Non-Grain Products,2017,11,Other,105394,9,2
1071,Grain Products,2017,12,Malt and malt products,12651943,1,1
1072,Grain Products,2017,12,Corn and corn products,2777,2,1
1073,Grain Products,2017,12,Rice and rice products,2472,3,1
1074,Grain Products,2017,12,Barley and barley products,1093381,4,1
1075,Grain Products,2017,12,Wheat and wheat products,128174,5,1
1076,Non-Grain Products,2017,12,Sugar and syrups,36213,6,2
1077,Non-Grain Products,2017,12,Hops (dry),1453024,7,2
1078,Non-Grain Products,2017,12,Hops (used as extracts),2117,8,2
1079,Non-Grain Products,2017,12,Other,657306,9,2

In [107]:
presentations_df = pd.read_sql_query('select * from presentation', con=engine)
presentations_df

   id_presentation      presentation
0                1       On Premises
1                2  Bottles and Cans
2                3  Kegs and Barrels
3                4       On Premises
4                5  Bottles and Cans
5                6  Kegs and Barrels

In [116]:
merged_beer_states = pd.merge(beer_states_df, presentations_df, how='left', on='presentation')
merged_beer_states

     state  year     barrels      presentation
0       AK  2008     2067.69       On Premises
1       AK  2009     2263.65       On Premises
2       AK  2010     1929.15       On Premises
3       AK  2011     2251.02       On Premises
4       AK  2012     2312.43       On Premises
5       AK  2013     2155.60       On Premises
6       AK  2014     2114.97       On Premises
7       AK  2015     4511.48       On Premises
8       AK  2016    13315.93       On Premises
9       AK  2017    15974.10       On Premises
10      AK  2018    30620.23       On Premises
11      AK  2019    32849.37       On Premises
12      AL  2008      723.53       On Premises
13      AL  2009      238.60       On Premises
14      AL  2010      161.24       On Premises
15      AL  2011        0.00       On Premises
16      AL  2012       46.50       On Premises
17      AL  2013      130.55       On Premises
18      AL  2014      226.25       On Premises
19      AL  2015     6109.99       On Premises
20      AL  2016    23810.78       On Premises
21      AL  2017    29160.56       On Premises
22      AL  2018    41718.66       On Premises
23      AL  2019    47160.08       On Premises
24      AR  2008     1328.35       On Premises
25      AR  2009     1279.34       On Premises
26      AR  2010     1331.85       On Premises
27      AR  2011     1124.98       On Premises
28      AR  2012     1265.93       On Premises
29      AR  2013      558.14       On Premises
...    ...   ...         ...               ...
1806    WI  2014  1066520.15  Kegs and Barrels
1807    WI  2015   937817.99  Kegs and Barrels
1808    WI  2016  1010565.53  Kegs and Barrels
1809    WI  2017  1093376.11  Kegs and Barrels
1810    WI  2018  1047608.30  Kegs and Barrels
1811    WI  2019   799948.20  Kegs and Barrels
1812    WV  2008     1655.04  Kegs and Barrels
1813    WV  2009     1725.47  Kegs and Barrels
1814    WV  2010     2582.42  Kegs and Barrels
1815    WV  2011     3264.98  Kegs and Barrels
1816    WV  2012     3701.81  Kegs and Barrels
1817    WV  2013     4525.59  Kegs and Barrels
1818    WV  2014     5160.63  Kegs and Barrels
1819    WV  2015     6640.44  Kegs and Barrels
1820    WV  2016     3835.30  Kegs and Barrels
1821    WV  2017     3564.32  Kegs and Barrels
1822    WV  2018     3278.68  Kegs and Barrels
1823    WV  2019     4017.18  Kegs and Barrels
1824    WY  2008     2989.71  Kegs and Barrels
1825    WY  2009     2489.98  Kegs and Barrels
1826    WY  2010     3852.33  Kegs and Barrels
1827    WY  2011     5055.71  Kegs and Barrels
1828    WY  2012     5752.17  Kegs and Barrels
1829    WY  2013     7216.88  Kegs and Barrels
1830    WY  2014     8379.14  Kegs and Barrels
1831    WY  2015     9671.70  Kegs and Barrels
1832    WY  2016     8328.08  Kegs and Barrels
1833    WY  2017     8312.15  Kegs and Barrels
1834    WY  2018    16731.39  Kegs and Barrels
1835    WY  2019    18726.19  Kegs and Barrels

[1836 rows x 4 columns]