ETL Project: Beer Production Data Base

Team Members:

- Esther Villarreal
- Daniel Orta
- Mauricio Arroyo

In [1]:
# Import Dependencies

import pandas as pd
from sqlalchemy import create_engine

We obtained this dataset from Kaggle.com comes from the Alcohol and Tobacco Tax and Trade Bureau (TTB). 

We used 2 csv files from this dataset, beer_states.csv and brewing_materials.csv

https://www.kaggle.com/jessemostipak/beer-production

In [2]:
beer_states_file = "Resources/beer_states.csv"
beer_states_df = pd.read_csv(beer_states_file)
beer_states_df.head()

  state  year  barrels         type
0    AK  2008  2067.69  On Premises
1    AK  2009  2263.65  On Premises
2    AK  2010  1929.15  On Premises
3    AK  2011  2251.02  On Premises
4    AK  2012  2312.43  On Premises

In [3]:
brewing_materials_file = "Resources/brewing_materials.csv"
brewing_materials_df = pd.read_csv(brewing_materials_file)
brewing_materials_df.head()

,data_type,material_type,year,month,type,month_current,month_prior_year,ytd_current,ytd_prior_year
0,Pounds of Materials Used,Grain Products,2008,1,Malt and malt products,374165152,365300134,374165152.0,365300134.0
1,Pounds of Materials Used,Grain Products,2008,1,Corn and corn products,57563519,41647092,57563519.0,41647092.0
2,Pounds of Materials Used,Grain Products,2008,1,Rice and rice products,72402143,81050102,72402143.0,81050102.0
3,Pounds of Materials Used,Grain Products,2008,1,Barley and barley products,3800844,2362162,3800844.0,2362162.0
4,Pounds of Materials Used,Grain Products,2008,1,Wheat and wheat products,1177186,1195381,1177186.0,1195381.0

Since our data was already processed, we had to reverse engineer the data to get smaller dataframes and eliminate the rows that contained the total values of the information so we could obtain it ourselves.

The cleaning of the data consisted of renaming the columns to make it more understandable, to facilitate the merging of the dataframes and be able to connect it to the sql server.

In [4]:
beer_states_df = beer_states_df[beer_states_df["state"].str.contains("total")==False]
beer_states_df = beer_states_df.rename(columns={"type":"presentation"})

presentations = beer_states_df.presentation.unique()
presentations_df = pd.DataFrame(presentations)
presentations_df = presentations_df.rename(columns={0:"presentation"})
beer_states_df

     state  year     barrels      presentation
0       AK  2008     2067.69       On Premises
1       AK  2009     2263.65       On Premises
2       AK  2010     1929.15       On Premises
3       AK  2011     2251.02       On Premises
4       AK  2012     2312.43       On Premises
5       AK  2013     2155.60       On Premises
6       AK  2014     2114.97       On Premises
7       AK  2015     4511.48       On Premises
8       AK  2016    13315.93       On Premises
9       AK  2017    15974.10       On Premises
10      AK  2018    30620.23       On Premises
11      AK  2019    32849.37       On Premises
12      AL  2008      723.53       On Premises
13      AL  2009      238.60       On Premises
14      AL  2010      161.24       On Premises
15      AL  2011        0.00       On Premises
16      AL  2012       46.50       On Premises
17      AL  2013      130.55       On Premises
18      AL  2014      226.25       On Premises
19      AL  2015     6109.99       On Premises
20      AL  2016    23810.78       On Premises
21      AL  2017    29160.56       On Premises
22      AL  2018    41718.66       On Premises
23      AL  2019    47160.08       On Premises
24      AR  2008     1328.35       On Premises
25      AR  2009     1279.34       On Premises
26      AR  2010     1331.85       On Premises
27      AR  2011     1124.98       On Premises
28      AR  2012     1265.93       On Premises
29      AR  2013      558.14       On Premises
...    ...   ...         ...               ...
1830    WI  2014  1066520.15  Kegs and Barrels
1831    WI  2015   937817.99  Kegs and Barrels
1832    WI  2016  1010565.53  Kegs and Barrels
1833    WI  2017  1093376.11  Kegs and Barrels
1834    WI  2018  1047608.30  Kegs and Barrels
1835    WI  2019   799948.20  Kegs and Barrels
1836    WV  2008     1655.04  Kegs and Barrels
1837    WV  2009     1725.47  Kegs and Barrels
1838    WV  2010     2582.42  Kegs and Barrels
1839    WV  2011     3264.98  Kegs and Barrels
1840    WV  2012     3701.81  Kegs and Barrels
1841    WV  2013     4525.59  Kegs and Barrels
1842    WV  2014     5160.63  Kegs and Barrels
1843    WV  2015     6640.44  Kegs and Barrels
1844    WV  2016     3835.30  Kegs and Barrels
1845    WV  2017     3564.32  Kegs and Barrels
1846    WV  2018     3278.68  Kegs and Barrels
1847    WV  2019     4017.18  Kegs and Barrels
1848    WY  2008     2989.71  Kegs and Barrels
1849    WY  2009     2489.98  Kegs and Barrels
1850    WY  2010     3852.33  Kegs and Barrels
1851    WY  2011     5055.71  Kegs and Barrels
1852    WY  2012     5752.17  Kegs and Barrels
1853    WY  2013     7216.88  Kegs and Barrels
1854    WY  2014     8379.14  Kegs and Barrels
1855    WY  2015     9671.70  Kegs and Barrels
1856    WY  2016     8328.08  Kegs and Barrels
1857    WY  2017     8312.15  Kegs and Barrels
1858    WY  2018    16731.39  Kegs and Barrels
1859    WY  2019    18726.19  Kegs and Barrels

[1836 rows x 4 columns]

In [5]:
brewing_materials_df = brewing_materials_df[['material_type', 'year', 'month', 'type','month_current']]
brewing_materials_df = brewing_materials_df[brewing_materials_df["material_type"].str.contains("Total")==False]
brewing_materials_df.head()

    material_type  year  month                        type  month_current
0  Grain Products  2008      1      Malt and malt products      374165152
1  Grain Products  2008      1      Corn and corn products       57563519
2  Grain Products  2008      1      Rice and rice products       72402143
3  Grain Products  2008      1  Barley and barley products        3800844
4  Grain Products  2008      1    Wheat and wheat products        1177186

In [6]:
material_brewing = brewing_materials_df.material_type.unique()
material_brewing_df = pd.DataFrame(material_brewing)
material_brewing_df = material_brewing_df.rename(columns={0:"material_type"})
material_brewing_df

        material_type
0      Grain Products
1  Non-Grain Products

In [7]:
types_brewing = brewing_materials_df.type.unique()
types_brewing_df = pd.DataFrame(types_brewing)
types_brewing_df = types_brewing_df.rename(columns={0:"type"})
types_brewing_df

                         type
0      Malt and malt products
1      Corn and corn products
2      Rice and rice products
3  Barley and barley products
4    Wheat and wheat products
5            Sugar and syrups
6                  Hops (dry)
7     Hops (used as extracts)
8                       Other

Created the connection to Postgres

In [8]:
rds_connection_string = "postgres:nopal91@localhost:5432/beer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

Confirmed the tables

In [9]:
engine.table_names()

['material_brewing',
 'types_brewing',
 'presentation',
 'merged_brewing_materials',
 'merged_beer_states']

Loaded the dataframes to the data base.

In [10]:
material_brewing_df.to_sql(name="material_brewing", con=engine, if_exists="append", index=False)

In [11]:
types_brewing_df.to_sql(name="types_brewing", con=engine, if_exists="append", index=False)

In [12]:
presentations_df.to_sql(name="presentation", con=engine, if_exists="append", index=False)

Retrieved the data from sql to obtain the id from each table.

In [13]:
#get the DataFrame from sql with the id created from the data base.
types_brewing_df = pd.read_sql_query('select * from types_brewing', con=engine)
material_brewing_df = pd.read_sql_query('select * from material_brewing', con=engine)
material_brewing_df

   id_material       material_type
0            1      Grain Products
1            2  Non-Grain Products

Merged the datasets now with the id's to the original dataframe, and deleted the columns that were not needed anymore.

In [14]:
# merge the dataframes

merged_brewing_materials = pd.merge(brewing_materials_df, types_brewing_df, how='left', on='type')
merged_brewing_materials = pd.merge(merged_brewing_materials, material_brewing_df, how='left', on='material_type')
merged_brewing_materials = merged_brewing_materials[["year", "month", "month_current", "id_types", "id_material"]] 

merged_brewing_materials

      year  month  month_current  id_types  id_material
0     2008      1      374165152         1            1
1     2008      1       57563519         2            1
2     2008      1       72402143         3            1
3     2008      1        3800844         4            1
4     2008      1        1177186         5            1
5     2008      1       78358212         6            2
6     2008      1        4506546         7            2
7     2008      1         621912         8            2
8     2008      1        1291615         9            2
9     2008      2      355687578         1            1
10    2008      2       59513161         2            1
11    2008      2       66061597         3            1
12    2008      2        3236714         4            1
13    2008      2        1240983         5            1
14    2008      2       80188744         6            2
15    2008      2        1815271         7            2
16    2008      2         476688         8            2
17    2008      2        1599119         9            2
18    2008      3      399855819         1            1
19    2008      3       60800221         2            1
20    2008      3       72629666         3            1
21    2008      3        6950276         4            1
22    2008      3        1888250         5            1
23    2008      3       78907213         6            2
24    2008      3        6067167         7            2
25    2008      3        1195722         8            2
26    2008      3        2211210         9            2
27    2008      4      388639443         1            1
28    2008      4       61555980         2            1
29    2008      4       73309991         3            1
...    ...    ...            ...       ...          ...
1050  2017      9         273705         7            2
1051  2017      9            237         8            2
1052  2017      9         639700         9            2
1053  2017     10        8675502         1            1
1054  2017     10            125         2            1
1055  2017     10           1160         3            1
1056  2017     10         140920         4            1
1057  2017     10          25505         5            1
1058  2017     10          21869         6            2
1059  2017     10          52286         7            2
1060  2017     10             82         8            2
1061  2017     10          75566         9            2
1062  2017     11        8092727         1            1
1063  2017     11            275         2            1
1064  2017     11           1560         3            1
1065  2017     11         133699         4            1
1066  2017     11          33324         5            1
1067  2017     11          23158         6            2
1068  2017     11         150955         7            2
1069  2017     11           1431         8            2
1070  2017     11         105394         9            2
1071  2017     12       12651943         1            1
1072  2017     12           2777         2            1
1073  2017     12           2472         3            1
1074  2017     12        1093381         4            1
1075  2017     12         128174         5            1
1076  2017     12          36213         6            2
1077  2017     12        1453024         7            2
1078  2017     12           2117         8            2
1079  2017     12         657306         9            2

[1080 rows x 5 columns]

In [15]:
presentations_df = pd.read_sql_query('select * from presentation', con=engine)
presentations_df

   id_presentation      presentation
0                1       On Premises
1                2  Bottles and Cans
2                3  Kegs and Barrels

In [16]:
merged_beer_states = pd.merge(beer_states_df, presentations_df, how='left', on='presentation')
merged_beer_states = merged_beer_states[["state", "year", "barrels", "id_presentation"]]
merged_beer_states

     state  year     barrels  id_presentation
0       AK  2008     2067.69                1
1       AK  2009     2263.65                1
2       AK  2010     1929.15                1
3       AK  2011     2251.02                1
4       AK  2012     2312.43                1
5       AK  2013     2155.60                1
6       AK  2014     2114.97                1
7       AK  2015     4511.48                1
8       AK  2016    13315.93                1
9       AK  2017    15974.10                1
10      AK  2018    30620.23                1
11      AK  2019    32849.37                1
12      AL  2008      723.53                1
13      AL  2009      238.60                1
14      AL  2010      161.24                1
15      AL  2011        0.00                1
16      AL  2012       46.50                1
17      AL  2013      130.55                1
18      AL  2014      226.25                1
19      AL  2015     6109.99                1
20      AL  2016    23810.78                1
21      AL  2017    29160.56                1
22      AL  2018    41718.66                1
23      AL  2019    47160.08                1
24      AR  2008     1328.35                1
25      AR  2009     1279.34                1
26      AR  2010     1331.85                1
27      AR  2011     1124.98                1
28      AR  2012     1265.93                1
29      AR  2013      558.14                1
...    ...   ...         ...              ...
1806    WI  2014  1066520.15                3
1807    WI  2015   937817.99                3
1808    WI  2016  1010565.53                3
1809    WI  2017  1093376.11                3
1810    WI  2018  1047608.30                3
1811    WI  2019   799948.20                3
1812    WV  2008     1655.04                3
1813    WV  2009     1725.47                3
1814    WV  2010     2582.42                3
1815    WV  2011     3264.98                3
1816    WV  2012     3701.81                3
1817    WV  2013     4525.59                3
1818    WV  2014     5160.63                3
1819    WV  2015     6640.44                3
1820    WV  2016     3835.30                3
1821    WV  2017     3564.32                3
1822    WV  2018     3278.68                3
1823    WV  2019     4017.18                3
1824    WY  2008     2989.71                3
1825    WY  2009     2489.98                3
1826    WY  2010     3852.33                3
1827    WY  2011     5055.71                3
1828    WY  2012     5752.17                3
1829    WY  2013     7216.88                3
1830    WY  2014     8379.14                3
1831    WY  2015     9671.70                3
1832    WY  2016     8328.08                3
1833    WY  2017     8312.15                3
1834    WY  2018    16731.39                3
1835    WY  2019    18726.19                3

[1836 rows x 4 columns]

Connected the merged dataframes to the data base.

In [17]:
merged_brewing_materials.to_sql(name="merged_brewing_materials", con=engine, if_exists="append", index=False)

In [18]:
merged_beer_states.to_sql(name="merged_beer_states", con=engine, if_exists="append", index=False)

Joined the two merged dataframes to get the final table with all the information in it.

In [22]:
merged_brewing_materials = pd.read_sql_query('SELECT merged_brewing_materials.year, merged_brewing_materials.month, merged_brewing_materials.month_current, merged_brewing_materials.id_types, merged_brewing_materials.id_material, merged_beer_states.state, merged_beer_states.id_presentation FROM merged_brewing_materials JOIN merged_beer_states ON merged_brewing_materials.year = merged_beer_states.year;', con=engine)
merged_brewing_materials

,year,month,month_current,id_types,id_material,state,id_presentation
0,2008,1,374165152,1,1,WY,3
1,2008,1,374165152,1,1,WV,3
2,2008,1,374165152,1,1,WI,3
3,2008,1,374165152,1,1,WA,3
4,2008,1,374165152,1,1,VT,3
5,2008,1,374165152,1,1,VA,3
6,2008,1,374165152,1,1,UT,3
7,2008,1,374165152,1,1,TX,3
8,2008,1,374165152,1,1,TN,3
9,2008,1,374165152,1,1,SD,3
10,2008,1,374165152,1,1,SC,3
11,2008,1,374165152,1,1,RI,3
12,2008,1,374165152,1,1,PA,3
13,2008,1,374165152,1,1,OR,3
14,2008,1,374165152,1,1,OK,3
15,2008,1,374165152,1,1,OH,3
16,2008,1,374165152,1,1,NY,3
17,2008,1,374165152,1,1,NV,3
18,2008,1,374165152,1,1,NM,3
19,2008,1,374165152,1,1,NJ,3
20,2008,1,374165152,1,1,NH,3
21,2008,1,374165152,1,1,NE,3
22,2008,1,374165152,1,1,ND,3
23,2008,1,374165152,1,1,NC,3
24,2008,1,374165152,1,1,MT,3
25,2008,1,374165152,1,1,MS,3
26,2008,1,374165152,1,1,MO,3
27,2008,1,374165152,1,1,MN,3
28,2008,1,374165152,1,1,MI,3
29,2008,1,374165152,1,1,ME,3
...,...,...,...,...,...,...,...
165210,2017,12,657306,9,2,NE,1
165211,2017,12,657306,9,2,ND,1
165212,2017,12,657306,9,2,NC,1
165213,2017,12,657306,9,2,MT,1
165214,2017,12,657306,9,2,MS,1
165215,2017,12,657306,9,2,MO,1
165216,2017,12,657306,9,2,MN,1
165217,2017,12,657306,9,2,MI,1
165218,2017,12,657306,9,2,ME,1
165219,2017,12,657306,9,2,MD,1
165220,2017,12,657306,9,2,MA,1
165221,2017,12,657306,9,2,LA,1
165222,2017,12,657306,9,2,KY,1
165223,2017,12,657306,9,2,KS,1
165224,2017,12,657306,9,2,IN,1
165225,2017,12,657306,9,2,IL,1
165226,2017,12,657306,9,2,ID,1
165227,2017,12,657306,9,2,IA,1
165228,2017,12,657306,9,2,HI,1
165229,2017,12,657306,9,2,GA,1
165230,2017,12,657306,9,2,FL,1
165231,2017,12,657306,9,2,DE,1
165232,2017,12,657306,9,2,DC,1
165233,2017,12,657306,9,2,CT,1
165234,2017,12,657306,9,2,CO,1
165235,2017,12,657306,9,2,CA,1
165236,2017,12,657306,9,2,AZ,1
165237,2017,12,657306,9,2,AR,1
165238,2017,12,657306,9,2,AL,1
165239,2017,12,657306,9,2,AK,1